.exam-spacer {
    flex: 1.5 2 auto;
  }
  .exam-space {
      flex: 1.5 2 auto;
    }
  .example-spacer {
      flex: 1 2 auto;
    }
.ss-box {
  display: flex;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  width: 90%;
  margin: 0 auto;
 }
 mat-card {
  background-color:rgb(85, 226, 231) !important;
  padding: 20px;
  width: 200px;
  margin-top: 100px;
 }