<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <button mat-button (click)="openpop()"><h4>Popular plans</h4></button>
    <span class="exam-spacer"></span>
    <mat-icon>supervised_user_circle</mat-icon>
    <button mat-button (click)="openDia()"><h4>Addon</h4></button>
    
    <span class="exam-space"></span>
    <mat-icon>supervised_user_circle</mat-icon>
    <button mat-button (click)="openBox()">
      <h4>Notifications</h4></button>
  
    <span class="example-spacer"></span>
    <div (click)="openPlan()">
    <button mat-raised-button color="warn">Logout</button></div>
    
    
  </mat-toolbar>


  <h1>
    <span>Welcome to user plans</span>
  </h1>